<?php

/*
|----------------------------------------------
| "{{worker-name}}" worker
|----------------------------------------------
|
| This worker will be executed in the background by Supervisor.
|
*/

require_once __DIR__ . '/../../../../src/aeros_autoload.php';

app()
    ->bootstrap()
    ->worker
    ->startWorker(\Aeros\App\Queues\Workers\{{classname}}Worker::class);

exit(1);
